html {
  font-size: 62.5%;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  margin: 2rem;
  background: #0D0C1D;
  color: #05547f;
  font-family: system-ui;
  font-size: 1.8rem;
  line-height: 1.5;
}
h1 {
  margin: 0 0 1em;
  color: #345;
  text-align: center;
}
li{
  list-style : none;
  color : #05547f;
  margin: .2rem;
  padding : 0;
  text-align : left;
}

div{
  margin: 0 auto;
  background-color: #eaeaea;
  max-width: 980px;
  min-width: 320px;
}

input{
  border: 2px solid palevioletred;
  margin: 1rem;
  padding: 1rem;
}

button{
    padding: 1.8rem 1rem;
    margin: 1rem 4rem;
    font-size: 2.1rem;
    background:  "palevioletred" ;
    color:  "white" ;
    border: none;
    border-radius: 0.35rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: scale(1.05);
}
button:active{
  transform: scale(0.9);
}